:root {
    --bg-dark: hsl(336 0% 5%);
    --bg: hsl(300 0% 10%);
    --bg-light: hsl(0 0% 15%);
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    --highlight: hsl(330 0% 20%);
    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);
    --primary: hsl(220 78% 76%);
    --secondary: hsl(40 53% 60%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
    --shadow: hsl(336 0% 4%);
}
:root[data-theme="light"] {
    --bg-dark: hsl(336 0% 95%);
    --bg: hsl(300 0% 98%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(300 0% 5%);
    --text-muted: hsl(300 0% 31%);
    --highlight: hsl(330 0% 85%);
    --border: hsl(0 0% 72%);
    --info: hsl(217 28% 45%);
    --border-muted: hsl(300 0% 82%);
    --shadow: hsl(336 0% 80%);
}

html {
    background: var(--bg-dark);
    color: var(--text);
}

.nav-bar {
  text-align: center;
}

.nav-bar-link {
  margin: 0.2em;
  font-size: 24px;  
}

.nav-bar-link-unselected {
  color: var(--text-muted);
  text-decoration: none;
}

.nav-bar-link-selected {
  color: var(--text);
}

.profile-picture {
  width: 15rem;
  /*border-radius: 10rem 5rem 5rem 10rem;*/
  clip-path: circle(43%);
}