:root {
    --bg-dark: hsl(336 0% 5%);
    --bg: hsl(300 0% 10%);
    --bg-light: hsl(0 0% 15%);
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    --highlight: hsl(330 0% 20%);
    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);
    --primary: hsl(220 78% 76%);
    --primary-weak: hsla(220, 79%, 76%, 0.3);
    --secondary: hsl(40 53% 60%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
    --shadow: hsl(336 0% 4%);
    --link: hsl(207, 59%, 54%)
}
:root[data-theme="light"] {
    --bg-dark: hsl(336 0% 95%);
    --bg: hsl(300 0% 98%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(300 0% 5%);
    --text-muted: hsl(300 0% 31%);
    --highlight: hsl(330 0% 85%);
    --border: hsl(0 0% 72%);
    --info: hsl(217 28% 45%);
    --border-muted: hsl(300 0% 82%);
    --shadow: hsl(336 0% 80%);
}

html {
    background: var(--bg-dark);
    color: var(--text);
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
}

.nav-bar {
  position: sticky;
  background: var(--bg-dark);
  top:0;
  text-align: center;
  width: 100%;
  left: 0;
  z-index: 99
}

.nav-bar-link {
  margin: 0.5em;
  font-size: 24px;
  text-shadow: -1px 1px 2px var(--bg-light);
}

.nav-bar-link-unselected {
  color: var(--text-muted);
  text-decoration: none;
}

.nav-bar-link-selected {
  color: var(--text);
}

.profile-picture {
  width: 15rem;
  /*border-radius: 10rem 5rem 5rem 10rem;*/
  clip-path: circle(43%);
}

.project-pop-up {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  text-align: center;
  background-color: var(--bg-light);
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px var(--bg-dark);
}

.project-video-player {
  border: 0px;
}

a {
  color: var(--link);
  text-decoration: none;
}


@keyframes banner-scroll {
  to {transform: scale(2); opacity: 0;}
}

.banner {
  max-width: 100%;
  object-fit: cover;
}


.image-overlay {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-keeper {
  margin: -4rem 0  0;
  width: 100%;
  overflow: clip;
}

.banner-animator {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  position: relative;
  animation: banner-scroll linear forwards;
  animation-timeline: view();
  animation-range: exit 1.8rem;
  transform-origin: top;
  z-index: -1;
}

@keyframes banner-text {
  0% {top: 60%; }
  3% {top: 50%; }
  30% {top: 50%; }
  33% {top: 60%; }
  100% {top: 60%; }
}

.banner-text {
  position: absolute;
  font-size: 3vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.banner-text-name {
  animation: banner-text 9s ease-in-out infinite;
}

.banner-text-cs {
  animation: banner-text 9s ease-in-out infinite;
  animation-delay: 3s;
  top: 60%;
}
.banner-text-3d {
  animation: banner-text 9s ease-in-out infinite;
  animation-delay: 6s;
  top: 60%;
}

.home-content-keeper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
  display: flex;
  padding: 0 2rem 0 2rem;
  max-width: max(40rem, 40vw);
  height: 200vh;
  margin: 0;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding:  0;
  overflow: hidden;
  background-color: var(--bg);
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 5px var(--primary-weak);
  cursor: pointer;
}

.project-item-image {
  max-width: 100%;
  
}

@media only screen and (max-width: 1600px) {
  .banner {
    max-width: 150%;
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    max-width: 220%;
  } 
}

/*.banner-text {
  font-size: 5vw;
  max-width: 100%;
}*/